.content-wrapper
{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left
{
    width: 72%;
    height: 100%;
}

.right
{
    width: 25%;
    height: 100%;
}

.top
{
    margin-top: 20%;
}

.bottom
{
    margin-top: 20%;
}

.feed
{
    width: 100%;
    display: block;
}

.news-item
{
    border-top: 2px solid #333367;
}

.origin
{
    font-family: smaller;
    color: #666;
}


.item-title
{
    margin-top: 2%;
    font-size: medium;
}

.mission
{
    border-top: 2px solid #333367;
}

.mission-title
{
    font-weight: 600;
}

.mission-statement
{
    font-size: medium;
}